<a href="/resorts">Resort Index</a>
<a href="/lifts">Lift Index</a>

<h1>All Resorts</h1>

<% @resorts.each do |resort| %>
  <h3><%= resort.name %></h3>
  <h6>Created: <%= resort.created_at %></h6>
<% end %>

<a href="/resorts/new">New Resort</a>